/* navbar.css */

/* Ajusta o tamanho do logo */
.logo {
    width: 100px; /* Ajuste conforme necessário */
    height: auto; /* Mantém a proporção do logo */
}

/* Define a cor da navbar */
.navbar {
    background-color: #007bff; /* Azul */
}
main {
    padding-top: 91.2px; /* Ajuste este valor com base na altura da sua navbar */
}